<h1>Registration Successful!</h1>
<hr>
<p>Thank you for registering. You can now log in with your username and password.</p>
    <form action="/login" method="get">
        <input type="submit" value="Login">
    </form>
<hr>
<a href="/logout"> Logout </a>
